*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    line-height: 1.8rem;
}

#navbar {
    overflow: auto;
    background-color: rgb(60, 60, 60);
    
}

#navbar a {
    text-decoration: none;
    color: #fff;
}


#navbar ul li a{
    display: block;
    padding: 15px;
    text-align: center;
    
}


#navbar h1{
    float: left;
    padding-top: 20px;
}

#navbar h1 a{
    padding-left: 10px;
}

#navbar ul{
    float: right;
}

#navbar ul li{
    list-style: none;
    float: left;
    text-align: center;
}

#navbar ul li a:hover{
    background-color: rgb(121, 121, 121);
    color: rgb(242, 156, 103);
}

#navbar .container{
    margin: auto;
    max-width: 800px;
}


#showcase{
    background: url('./img/showcase.jpg') no-repeat center center/cover;
    height: 600px;
}

.showcase-content{
    color: #fff;
    text-align: center;
    padding-top: 170px;
}

span{
    color: rgb(242, 156, 103);
}

.btn{
    color: #fff;
    text-decoration: none;
    padding: 10px 10px;
    background-color: rgb(0, 0, 0);
}

.btn:hover{
    background-color: rgb(242, 156, 103);
}





#home-info{
    height: 400px;
}


#home-info .info-img{
    background: url('./img/photo-1.jpg') no-repeat;
    float: left;
    width: 50%;
    min-height: 100%;
}

#home-info .info-content{
    float: right;
    width: 50%;
    height: 100%;
    padding: 50px 30px;
    text-align: center;
    color: #fff;
}


#home-info{
    background-color: rgb(60, 60, 60);
}



#feature .box{
    width: 33.3%;
    float: left;
    padding: 50px;
    text-align: center;
    background-color: #fff;
}

#feature i{
    font-size: 3rem;
    margin-bottom: 10px;
}

#feature .color{
    background-color: rgb(242, 156, 103);
}



#main-footer{
    text-align: center;
    background-color: rgb(60, 60, 60);
    color: #fff;
}



@media screen and (max-width: 900px){
    #home-info .info-img, #home-info .info-content{
        width: 100%;
        padding-top: 10px;
    }
    #feature .box{
        width: 100%;
    }
}